<html>
<head>
    <title>Interactive MVP Disc Roster and Flight Chart</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.19.0/dist/bootstrap-vue.min.css">
    <style>
        g.mvp circle {
            stroke-width: 3px;
            stroke: black;
            fill: white;
        }
        g.mvp text {
            stroke: black;
            fill:black;
        }

        g.axiom circle {
            stroke-width: 4px;
            stroke: lightblue;
            fill: yellow;
        }
        g.axiom text {
            stroke: blue;
            fill:black;
        }

        g.streamline circle {
            stroke-width: 4px;
            stroke: green;
            fill: green;
        }
        g.streamline text {
            stroke: white;
            fill:white;
        }

        g.oop {
            opacity: 0.35;
        }

        text.rim {
            font-size: 18px;
            font-weight: bold;
            stroke: black;
        }

        text.stability {
            font-size: 24px;
            font-weight: bold;
            stroke: black;
        }

    </style>
</head>
<body>
<div id="chart">
<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" height="10in" viewBox="0 0 1296 1296" enable-background="new 0 0 1296 1296" version="1.1" x="0px" width="10in" y="0px">
<defs>
    <linearGradient id="blueGradient">
        <stop offset="0%" stop-color="#3645e3"/>
        <stop offset="100%" stop-color="#A7ACDF"/>
    </linearGradient>
    <linearGradient id="stabilityGradient">
        <stop offset="0%" stop-color="red"/>
        <stop offset="50%" stop-color="yellow"/>
        <stop offset="100%" stop-color="green"/>
    </linearGradient>
</defs>
<rect x="0" y="0" width="1296" height="1296" fill="white" stroke-width="4px" stroke="black"></rect>
<rect x="0" :y="0" width="1296" height="50px" fill="url(#stabilityGradient)"></rect>
<text class="stability" x="5px" y="25px" dominant-baseline="middle">Over</text>
<text class="stability" x="648px" y="25px" dominant-baseline="middle" text-anchor="middle" >Stability</text>
<text class="stability" x="1291px" y="25px" dominant-baseline="middle" text-anchor="end">Under</text>
<rect width="700" :x="(1296-700)/2" :y="calculate_y(3)" stroke="none" fill="url(#blueGradient)" :height="calculate_y(0)-calculate_y(3)" /> 
<rect width="850" :x="(1296-850)/2" :y="calculate_y(6)" stroke="none" fill="url(#blueGradient)" :height="calculate_y(3)-calculate_y(6)" /> 
<rect width="1000" :x="(1296-1000)/2" :y="calculate_y(9)" stroke="none" fill="url(#blueGradient)" :height="calculate_y(6)-calculate_y(9)" /> 
<rect width="1150" :x="(1296-1150)/2" :y="calculate_y(13)" stroke="none" fill="url(#blueGradient)" :height="calculate_y(9)-calculate_y(13)" /> 
<text class="rim" v-for="rim in rims" :y="calculate_y(rim.row)+30" x="40px" text-anchor="middle" dominant-baseline="middle">{{rim.width}}</text>
<text class="rim" v-for="rim in rims" :y="calculate_y(rim.row)+30" x="1261px" text-anchor="middle" dominant-baseline="middle">{{rim.speed}}</text>
<lid v-for="disc in discs" :key="disc.name" :disc="disc" :y="calculate_y(disc.row)" v-on:pickeddisc="discPicked(disc);"></lid>
</svg>
<div>
Designed by Colin Kuskie.  Inspired by the "Unofficial fan-made, not-at-all-approved-by-MVP GYRO DISC FLIGHT COMPARISON CHART" by Kyle McClure.
</div>
<b-modal id="extended-disc-info" centered hide-footer>
<template #modal-title>{{info_disc.brand == 'mvp' ? 'MVP' : info_disc.brand == 'axiom' ? 'Axiom' : 'Streamline'}}: {{info_disc.name}}</template>
<p>{{info_disc.speed}} | {{info_disc.glide}} | {{info_disc.turn}} | {{info_disc.fade}} </p>
<p><b>Plastics:</b><br>
<span v-for="plastic in info_disc.plastics">{{plastic}}<br></span>
</p>
</b-modal>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.19.0/dist/bootstrap-vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script type="text/javascript">
'use strict';
 Vue.component("lid", {
    template : `<g :class="[disc.brand, disc.oop ? 'oop' : '']" :transform="'translate('+(disc.x/100*1296)+','+y+')'" @click="openModal()">
<circle :cx="disc_area" :cy="disc_area" :r="disc_radius" />
<text :y="disc_area" :x="disc_area" text-anchor="middle" dominant-baseline="middle" :textLength="disc.name.length > 4 ? text_area*1.5 : text_area" lengthAdjust="spacingAndGlyphs" >{{disc.name}}</text>
</g>`,
    props : ['disc', 'y'],
    data() {
        return {
            "disc_radius" : 30,
            "disc_area" : 30,
            "text_area" : 34,
        }
    },
    methods: {
        openModal() {
            this.$emit('pickeddisc');
            console.log("After emit");
            this.$bvModal.show("extended-disc-info");
        }
    }
 });
 new Vue({
    "el" : "#chart",
    methods : {
        discPicked(disc) {
            console.log("name = "+disc.name);
            this.info_disc = disc;
        },
        calculate_y(row) {
            //Rows are numbered from top to bottom in inverse proprtion to the disc's speed.
            //Reserving to the top 50 pixels for banner, stability bar, etc.
            var disc_area_height = 1296 - 50;
            var row_height = disc_area_height / 13;
            return 1296 - (row_height * row);
        },
    },
    mounted() {
        this.info_disc = this.discs[0];
    },
    data() {
        return {
            "info_disc" : {},
            "rims" : [
                {
                    "width" : "9mm", "speed" : 2, "row" : 1,
                },
                {
                    "width" : "10mm", "speed" : 3, "row" : 2,
                },
                {
                    "width" : "11mm", "speed" : 2.5, "row" : 3,
                },
                {
                    "width" : "12mm", "speed" : 4, "row" : 4,
                },
                {
                    "width" : "13mm", "speed" : 5, "row" : 5,
                },
                {
                    "width" : "14.5mm", "speed" : 5, "row" : 6,
                },
                {
                    "width" : "16mm", "speed" : 6, "row" : 7,
                },
                {
                    "width" : "16.5mm", "speed" : 6.5, "row" : 8,
                },
                {
                    "width" : "18mm", "speed" : 8, "row" : 9,
                },
                {
                    "width" : "18.5mm", "speed" : 9, "row" : 10,
                },
                {
                    "width" : "21mm", "speed" : 11, "row" : 11,
                },
                {
                    "width" : "23mm", "speed" : 13, "row" : 12,
                },
                {
                    "width" : "24.5mm", "speed" : 14.5, "row" : 13,
                },
            ],
            "discs" : [ //In drawn order
                {
                    "name" : "Nomad",
                    "brand" : "mvp",
                    "speed" :  2, "glide" : 4, "turn" : 0, "fade" : 1,
                    "x" : 45, "row" : 1,
                    "oop" : false,
                    "plastics" : ["Electron", "Plasma"],
                },
                {
                    "name" : "Ohm",
                    "brand" : "mvp",
                    "speed" :  2, "glide" : 5, "turn" : 0, "fade" : 1,
                    "x" : 50, "row" : 1,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Pilot",
                    "brand" : "streamline",
                    "speed" :  2, "glide" : 5, "turn" : 0, "fade" : 1,
                    "x" : 55, "row" : 1,
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron", "Proton", "Eclipse"],
                },
                {
                    "name" : "Particle",
                    "brand" : "mvp",
                    "speed" :  3, "glide" : 3, "turn" : 0, "fade" : 2.5,
                    "x" : 25, "row" : 2,
                    "oop" : true,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Entropy",
                    "brand" : "mvp",
                    "speed" :  4, "glide" : 3, "turn" : 0, "fade" : 3,
                    "x" : 23, "row" : 2,
                    "oop" : false,
                    "plastics" : ["Electron", "Neutron"],
                },
                {
                    "name" : "Stabilizer",
                    "brand" : "streamline",
                    "speed" :  2, "glide" : 4, "turn" : 0, "fade" : 1,
                    "x" : 28, "row" : 2,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Envy",
                    "brand" : "axiom",
                    "speed" :  2, "glide" : 4, "turn" : 0, "fade" : 1,
                    "x" : 33, "row" : 2,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Atom",
                    "brand" : "mvp",
                    "speed" :  2, "glide" : 4, "turn" : 0, "fade" : 1,
                    "x" : 47, "row" : 2,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Proxy",
                    "brand" : "axiom",
                    "speed" :  2, "glide" : 4, "turn" : 0, "fade" : 1,
                    "x" : 60, "row" : 2,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Ion",
                    "brand" : "mvp",
                    "speed" :  2, "glide" : 4, "turn" : 0, "fade" : 1,
                    "x" : 37, "row" : 3,
                    "oop" : false,
                    "plastics" : ["Neutron", "R2"],
                },
                {
                    "name" : "Anode",
                    "brand" : "mvp",
                    "speed" :  2, "glide" : 4, "turn" : 0, "fade" : 1,
                    "x" : 53, "row" : 3,
                    "oop" : false,
                    "plastics" : ["Neutron", "R2"],
                },
                {
                    "name" : "Spin",
                    "brand" : "mvp",
                    "speed" :  2, "glide" : 4, "turn" : 0, "fade" : 1,
                    "x" : 72, "row" : 3,
                    "oop" : false,
                    "plastics" : ["Neutron", "R2"],
                },
                {
                    "name" : "Tensor",
                    "brand" : "mvp",
                    "speed" :  4, "glide" : 4, "turn" : 0, "fade" : 2.5,
                    "x" : 31, "row" : 4,
                    "oop" : true,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Alias",
                    "brand" : "axiom",
                    "speed" :  4, "glide" : 4, "turn" : -1, "fade" : 1,
                    "x" : 45, "row" : 4,
                    "oop" : true,
                    "plastics" : ["Neutron", "Proton"],
                },
                {
                    "name" : "Tangent",
                    "brand" : "mvp",
                    "speed" :  4, "glide" : 4, "turn" : -0.5, "fade" : 0.5,
                    "x" : 55, "row" : 4,
                    "oop" : true,
                    "plastics" : ["Neutron", "Proton", "Plasma", "Electron"],
                },
                {
                    "name" : "Theory",
                    "brand" : "axiom",
                    "speed" :  4, "glide" : 4, "turn" : -1.5, "fade" : 1,
                    "x" : 68, "row" : 4,
                    "oop" : true,
                    "plastics" : ["Neutron", "Plasma"],
                },
                {
                    "name" : "Runway",
                    "brand" : "streamline",
                    "speed" :  5, "glide" : 4, "turn" : 0, "fade" : 3.5,
                    "x" : 20, "row" : 5,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Vector",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 4, "turn" : 0, "fade" : 2,
                    "x" : 35, "row" : 5,
                    "oop" : true,
                    "plastics" : ["Neutron", "Plasma", "Proton", "Eclipse"],
                },
                {
                    "name" : "Matrix",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 4, "turn" : -1, "fade" : 2,
                    "x" : 40, "row" : 5,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Reactor",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 5, "turn" : -0.5, "fade" : 1.5,
                    "x" : 45, "row" : 5,
                    "oop" : false,
                    "plastics" : ["Neutron", "Eclipse 2.0"],
                },
                {
                    "name" : "Hex",
                    "brand" : "axiom",
                    "speed" :  5, "glide" : 5, "turn" : -1, "fade" : 1,
                    "x" : 50, "row" : 5,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Axis",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 4, "turn" : -1, "fade" : 1,
                    "x" : 60, "row" : 5,
                    "oop" : true,
                    "plastics" : ["Neutron", "Proton", "Eclipse"],
                },
                {
                    "name" : "Vertex",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 4, "turn" : -4, "fade" : 0,
                    "x" : 70, "row" : 5,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Paradox",
                    "brand" : "axiom",
                    "speed" :  5, "glide" : 4, "turn" : -4, "fade" : 0,
                    "x" : 77, "row" : 5,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Deflector",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 3.5, "turn" : 0, "fade" : 4,
                    "x" : 17, "row" : 6,
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton", "Eclipse"],
                },
                {
                    "name" : "Pyro",
                    "brand" : "axiom",
                    "speed" :  5, "glide" : 4, "turn" : 0, "fade" : 2.5,
                    "x" : 26, "row" : 6,
                    "oop" : false,
                    "plastics" : ["Prism", ],
                },
                {
                    "name" : "Relay",
                    "brand" : "mvp",
                    "speed" :  6, "glide" : 5, "turn" : -1, "fade" : 1,
                    "x" : 75, "row" : 7,
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron"],
                },
                {
                    "name" : "Signal",
                    "brand" : "mvp",
                    "speed" :  6, "glide" : 5, "turn" : -3, "fade" : 1,
                    "x" : 82, "row" : 7,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Resistor",
                    "brand" : "mvp",
                    "speed" :  6.5, "glide" : 4, "turn" : 0, "fade" : 3.5,
                    "x" : 12, "row" : 8,
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Clash",
                    "brand" : "axiom",
                    "speed" :  6.5, "glide" : 4, "turn" : -1, "fade" : 2,
                    "x" : 40, "row" : 8,
                    "oop" : true,
                    "plastics" : ["Neutron","Proton"],
                },
                {
                    "name" : "Servo",
                    "brand" : "mvp",
                    "speed" :  6.5, "glide" : 5, "turn" : -1, "fade" : 2,
                    "x" : 47, "row" : 8,
                    "oop" : false,
                    "plastics" : ["Neutron","Plasma"],
                },
                {
                    "name" : "Crave",
                    "brand" : "axiom",
                    "speed" :  6.5, "glide" : 4, "turn" : -1, "fade" : 2,
                    "x" : 52, "row" : 8,
                    "oop" : true,
                    "plastics" : ["Neutron","Proton"],
                },
                {
                    "name" : "Switch",
                    "brand" : "mvp",
                    "speed" :  6.5, "glide" : 5, "turn" : -1.5, "fade" : 1,
                    "x" : 64, "row" : 8,
                    "oop" : true,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Inspire",
                    "brand" : "axiom",
                    "speed" :  6.5, "glide" : 5, "turn" : -1.5, "fade" : 1,
                    "x" : 70, "row" : 8,
                    "oop" : true,
                    "plastics" : ["Neutron","Proton"],
                },
                {
                    "name" : "Drift",
                    "brand" : "streamline",
                    "speed" :  7, "glide" : 5, "turn" : -2, "fade" : 1,
                    "x" : 72, "row" : 8,
                    "oop" : false,
                    "plastics" : ["Neutron","Cosmic Neutron", "Proton"],
                },
                {
                    "name" : "Shock",
                    "brand" : "mvp",
                    "speed" :  8, "glide" : 5, "turn" : 0, "fade" : 2.5,
                    "x" : 23, "row" : 9,
                    "oop" : true,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Volt",
                    "brand" : "mvp",
                    "speed" :  8, "glide" : 5, "turn" : -1, "fade" : 2,
                    "x" : 33, "row" : 9,
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron", "Proton", "Plasma", "Eclipse", "Fission", "Electron"],
                },
                {
                    "name" : "Amp",
                    "brand" : "mvp",
                    "speed" :  8, "glide" : 5, "turn" : -1.5, "fade" : 1,
                    "x" : 57, "row" : 9,
                    "oop" : true,
                    "plastics" : ["Neutron", "Proton", "Plasma", "Eclipse"],
                },
            ],
        }
    },
 });
</script>
</body>
</html>
