<html>
<head>
    <title>Interactive MVP Network Flight Chart</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.19.0/dist/bootstrap-vue.min.css">
    <style>
        g.mvp circle {
            stroke-width: 3px;
            stroke: black;
            fill: white;
        }
        g.mvp text {
            stroke: black;
            fill:black;
        }

        g.axiom circle {
            stroke-width: 4px;
            stroke: lightblue;
            fill: yellow;
        }
        g.axiom text {
            stroke: blue;
            fill:black;
        }

        g.streamline circle {
            stroke-width: 4px;
            stroke: green;
            fill: green;
        }
        g.streamline text {
            stroke: white;
            fill:white;
        }

        g.oop {
            opacity: 0.35;
        }

        p.oop {
            font-style: italic;
        }

        g.sort rect {
            width:40px;
            height:40px;
            fill:white;
            stroke:black;
            stroke-width:4px
        }

        g.sort line {
            stroke:black;
            stroke-width:2px
        }

        text.rim {
            font-size: 18px;
            font-weight: bold;
            stroke: black;
        }

        text.stability {
            font-size: 24px;
            font-weight: bold;
            stroke: black;
        }

        div.pagewidth {
            width : 10in;
        }

        h1, h3 {
            text-align: center;
        }

    </style>
</head>
<body>
<div id="chart">
<div class="pagewidth">
<h1>INTERACTIVE MVP NETWORK FLIGHT CHART</h1>
<h3>Unofficial, fan-made, not-at-all-approved by MVP, Axiom or Streamline</h3>
</div>
<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" height="11in" viewBox="0 0 1296 1296" enable-background="new 0 0 1296 1296" version="1.1" x="0px" width="11in" y="0px">
<defs>
    <linearGradient id="blueGradient">
        <stop offset="0%" stop-color="#3645e3"/>
        <stop offset="100%" stop-color="#A7ACDF"/>
    </linearGradient>
    <linearGradient id="stabilityGradient">
        <stop offset="0%" stop-color="red"/>
        <stop offset="50%" stop-color="yellow"/>
        <stop offset="100%" stop-color="green"/>
    </linearGradient>
    <marker id="arrowhead" markerWidth="5" markerHeight="5" ref0="0" refY="2.5" orient="auto">
        <polygon points="0 0, 5 2.5, 0 5" />
    </marker>
</defs>
<rect x="0" y="0" :width="svg_width" :height="svg_width" fill="white" stroke-width="4px" stroke="black"></rect>
<rect x="0" :y="0" :width="svg_width" height="50px" fill="url(#stabilityGradient)"></rect>
<g class="sort" transform="translate(10,5)" @click="sort_rims_by_width">
    <rect />
    <line x1="15" y1="32" x2="15" y2="15" marker-end="url(#arrowhead)"/>
    <line x1="25" y1="8" x2="25" y2="25"  marker-end="url(#arrowhead)"/>
</g>
<g class="sort" transform="translate(1246,5)" @click="sort_rims_by_speed">
    <rect />
    <line x1="15" y1="32" x2="15" y2="15" marker-end="url(#arrowhead)"/>
    <line x1="25" y1="8" x2="25" y2="25"  marker-end="url(#arrowhead)"/>
</g>
<text class="stability" :x="(svg_width-1150)/2" y="25px" dominant-baseline="middle">Over</text>
<text class="stability" :x="svg_width/2" y="25px" dominant-baseline="middle" text-anchor="middle" >Stability</text>
<text class="stability" :x="(svg_width+1150)/2" y="25px" dominant-baseline="middle" text-anchor="end">Under</text>
<g v-for="(rim,index) in rims">
    <rect stroke="none" fill="url(#blueGradient)" :y="calculate_y(index+1)" :x="(svg_width - rim.row_width)/2 + horizontal_row_bias" :height="single_row_height()+1" :width="rim.row_width"/>
    <text class="rim" :y="calculate_y(index+1)+30" x="40px" text-anchor="middle" dominant-baseline="middle">{{rim.width}}mm</text>
    <text class="rim" :y="calculate_y(index+1)+30" x="1261px" text-anchor="middle" dominant-baseline="middle">{{rim.speed}}</text>
</g>
<lid v-for="disc in discs" :key="disc.name" :disc="disc" :x="calculate_x(disc)" :y="calculate_y(calculate_row(disc))" :row_height="single_row_height()" :horizontal_row_bias="horizontal_row_bias" :production_filter="production_filter" :plastic_filter="plastic_filter" v-on:pickeddisc="discPicked(disc);"></lid>
</svg>
<b-row>
    <b-col cols="2">
        <b-form-checkbox v-model="production_filter.show_oop" size="lg" switch>Out of Production ({{disc_stats.quantity_oop}})</b-form-checkbox>
        <b-form-checkbox v-model="production_filter.show_mvp" size="lg" switch>MVP ({{disc_stats.quantity_mvp}})</b-form-checkbox>
        <b-form-checkbox v-model="production_filter.show_axiom" size="lg" switch>Axiom ({{disc_stats.quantity_axiom}})</b-form-checkbox>
        <b-form-checkbox v-model="production_filter.show_streamline" size="lg" switch>Streamline ({{disc_stats.quantity_streamline}})</b-form-checkbox>
    </b-col>
    <b-col cols="2">
        <b-form-select v-model="plastic_filter" :options="plastics"></b-form-select>
    </b-col>
    <b-col cols="2">
        <b>Statistics</b><br>
        Putters: {{disc_stats.quantity_putters}}<br>
        Midranges: {{disc_stats.quantity_mids}}<br>
        Fairway drivers: {{disc_stats.quantity_fairways}}<br>
        Distance drivers: {{disc_stats.quantity_distance}}<br>
        Total discs: {{disc_stats.total_discs}}
    </b-col>
</b-row>
<div class="pagewidth">
Designed by Colin Kuskie.  Inspired by the "Unofficial fan-made, not-at-all-approved-by-MVP GYRO DISC FLIGHT COMPARISON CHART" by Kyle McClure.
</div>
<b-modal size="sm" id="extended-disc-info" centered hide-footer>
<template #modal-title>{{info_disc.brand == 'mvp' ? 'MVP' : info_disc.brand == 'axiom' ? 'Axiom' : 'Streamline'}}: {{info_disc.name}}</template>
<p v-if="info_disc.oop" class="oop">Out of Production</p>
<p>{{info_disc.speed}} | {{info_disc.glide}} | {{info_disc.turn}} | {{info_disc.fade}} </p>
<p><b>Plastics:</b><br>
<span v-for="plastic in info_disc.plastics">{{plastic}}<br></span>
</p>
<p v-if="info_disc.approved">PDGA Approved: {{info_disc.approved}}</p>
</b-modal>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.19.0/dist/bootstrap-vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script type="text/javascript">
'use strict';
 Vue.component("lid", {
    template : `<g :class="[disc.brand, disc.oop ? 'oop' : '']" :transform="'translate('+(x+horizontal_row_bias)+','+y+')'" v-show="handle_filter(production_filter, plastic_filter, disc)" @click="openModal()">
<circle :cx="disc_area" :cy="row_height/2" :r="disc_radius" />
<text :y="row_height/2" :x="disc_area" text-anchor="middle" dominant-baseline="middle" :textLength="disc.name.length > 4 ? text_area*1.5 : text_area" lengthAdjust="spacingAndGlyphs" >{{disc.name}}</text>
</g>`,
    props : ['disc', 'x', 'y', 'row_height', 'horizontal_row_bias', 'production_filter', 'plastic_filter'],
    data() {
        return {
            "disc_radius" : 30,
            "disc_area" : 30,
            "text_area" : 34,
        }
    },
    methods: {
        center_disc_vertically(y, row_height) {
            return ((row_height-y)/2);
        },
        openModal() {
            this.$emit('pickeddisc');
            this.$bvModal.show("extended-disc-info");
        },
        handle_filter(production_filter, plastic_filter, disc) {
            if (disc.oop && !production_filter.show_oop) {
                return false;
            }
            if (disc.brand == "mvp" && !production_filter.show_mvp) {
                return false;
            }
            if (disc.brand == "axiom" && !production_filter.show_axiom) {
                return false;
            }
            if (disc.brand == "streamline" && !production_filter.show_streamline) {
                return false;
            }
            if (plastic_filter == "All Plastics") {
                return true;
            }
            if (disc.plastics.includes(plastic_filter)) {
                return true;
            }
            return false;
        },
    },
 });
 new Vue({
    "el" : "#chart",
    methods : {
        discPicked(disc) {
            this.info_disc = disc;
        },
        single_row_height() {
            var stability_bar_height = 50;
            var disc_area_height = this.svg_width - stability_bar_height;
            var row_height = disc_area_height / this.rims.length;
            return row_height;
        },
        calculate_y(row) {
            //Rows are numbered from top to bottom in inverse proprtion to the disc's speed.
            //Reserving to the top 50 pixels for banner, stability bar, etc.
            var y = this.svg_width - (this.single_row_height() * row);
            return y
        },
        calculate_x(disc) {
            var row_width = this.calculate_row_width(disc);
            var offset = (this.svg_width - row_width)/2;
            var x = offset + (disc.x / 100 * row_width);
            return x;
        },
        calculate_row(disc) {
            var row_index = _.findIndex(this.rims, function(rim) { return rim.width == disc.width && rim.speed == disc.speed; });
            return row_index+1;
        },
        calculate_row_width(disc) {
            var row_index = _.findIndex(this.rims, function(rim) { return rim.width == disc.width && rim.speed == disc.speed; });
            return this.rims[row_index].row_width;
        },
        sort_rims_by_width() {
            this.rims.sort((left, right) => {
                if (parseFloat(left.width) < parseFloat(right.width)) { return -1; }
                if (parseFloat(left.width) > parseFloat(right.width)) { return 1; }
                //Switch to speed sorting
                if (left.speed < right.speed) { return -1; }
                if (left.speed > right.speed) { return 1; }
                return 0;
            });
        },
        sort_rims_by_speed() {
            this.rims.sort((left, right) => {
                if (left.speed < right.speed) { return -1; }
                if (left.speed > right.speed) { return 1; }
                //Switch to width sorting
                if (parseFloat(left.width) < parseFloat(right.width)) { return -1; }
                if (parseFloat(left.width) > parseFloat(right.width)) { return 1; }
                return 0;
            });
        },
        glean_plastics_from_discs() {
            var self=this;
            self.discs.forEach((disc) => {
                if (disc.oop) {
                    self.disc_stats.quantity_oop = self.disc_stats.quantity_oop + 1;
                }
                else if (disc.brand == "mvp") {
                    self.disc_stats.quantity_mvp = self.disc_stats.quantity_mvp + 1;
                }
                else if (disc.brand == "axiom") {
                    self.disc_stats.quantity_axiom = self.disc_stats.quantity_axiom + 1;
                }
                else if (disc.brand == "streamline") {
                    self.disc_stats.quantity_streamline = self.disc_stats.quantity_streamline + 1;
                }
                var disc_width = parseFloat(disc.width);
                if (disc_width > 1 && disc_width <= 11) {
                    self.disc_stats.quantity_putters = self.disc_stats.quantity_putters + 1;
                }
                else if (disc_width > 11 && disc_width <= 14.5) {
                    self.disc_stats.quantity_mids = self.disc_stats.quantity_mids + 1;
                }
                else if (disc_width > 14.5 && disc_width <= 18) {
                    self.disc_stats.quantity_fairways = self.disc_stats.quantity_fairways + 1;
                }
                else {
                    self.disc_stats.quantity_distance = self.disc_stats.quantity_distance + 1;
                }
                disc.plastics.forEach((plastic) => {
                    if(! self.plastics.includes(plastic)) {
                        self.plastics.push(plastic);
                    }
                });
                self.disc_stats.total_discs = self.discs.length;
            });
        },
    },
    mounted() {
        this.info_disc = this.discs[0];
        this.glean_plastics_from_discs();
    },
    data() {
        return {
            "production_filter" : {
            "show_mvp": true,
            "show_axiom": true,
                "show_streamline": true,
                "show_oop": true,
            },
            "disc_stats" : {
                "total_discs" : 0,
                "quantity_oop" : 0,
                "quantity_mvp" : 0,
                "quantity_axiom" : 0,
                "quantity_streamline" : 0,
                "quantity_putters" : 0,
                "quantity_mids" : 0,
                "quantity_fairways" : 0,
                "quantity_distance" : 0,
            },
            "svg_width" : 1296,
            "horizontal_row_bias" : 10,
            "plastic_filter" : "All Plastics",
            "plastics" : ["All Plastics"],
            "info_disc" : {},
            "rims" : [
                {
                    "width" : "9", "speed" : 2, "row_width" : 700,
                },
                {
                    "width" : "10", "speed" : 3, "row_width" : 700,
                },
                {
                    "width" : "10.5", "speed" : 4, "row_width" : 700,
                },
                {
                    "width" : "11", "speed" : 2.5, "row_width" : 700,
                },
                {
                    "width" : "12", "speed" : 4, "row_width" : 850,
                },
                {
                    "width" : "13", "speed" : 4, "row_width" : 850,
                },
                {
                    "width" : "13", "speed" : 5, "row_width" : 850,
                },
                {
                    "width" : "14.5", "speed" : 5, "row_width" : 850,
                },
                {
                    "width" : "16", "speed" : 6, "row_width" : 1000,
                },
                {
                    "width" : "16.5", "speed" : 6.5, "row_width" : 1000,
                },
                {
                    "width" : "16.5", "speed" : 7, "row_width" : 1000,
                },
                {
                    "width" : "18", "speed" : 8, "row_width" : 1000,
                },
                {
                    "width" : "18.5", "speed" : 9, "row_width" : 1150,
                },
                {
                    "width" : "21", "speed" : 11, "row_width" : 1150,
                },
                {
                    "width" : "23", "speed" : 13, "row_width" : 1150,
                },
                {
                    "width" : "24.5", "speed" : 14.5, "row_width" : 1150,
                },
            ],
            "discs" : [ //In drawn order, place OOP before other discs.
                {
                    "name" : "Nomad",
                    "brand" : "mvp",
                    "speed" :  2, "glide" : 4, "turn" : 0, "fade" : 1,
                    "x" : 42.7, "width" : "9",
                    "oop" : false,
                    "plastics" : ["Electron", "Plasma"],
                    "approved" : "Mar 22, 2021"
                },
                {
                    "name" : "Ohm",
                    "brand" : "mvp",
                    "speed" :  2, "glide" : 5, "turn" : 0, "fade" : 1,
                    "x" : 51.94, "width" : "9",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Feb 20, 2019"
                },
                {
                    "name" : "Pilot",
                    "brand" : "streamline",
                    "speed" :  2, "glide" : 5, "turn" : 0, "fade" : 1,
                    "x" : 61.24, "width" : "9",
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron", "Proton", "Eclipse", "Cosmic Electron"],
                    "approved" : "Feb 22, 2017"
                },
                {
                    "name" : "Particle",
                    "brand" : "mvp",
                    "speed" :  3, "glide" : 3, "turn" : 0, "fade" : 2.5,
                    "x" : 5.43, "width" : "10",
                    "oop" : true,
                    "plastics" : ["Neutron"],
                    "approved" : "Jun 11, 2017"
                },
                {
                    "name" : "Entropy",
                    "brand" : "mvp",
                    "speed" :  4, "glide" : 3, "turn" : 0, "fade" : 3,
                    "x" : 2.0, "width" : "10.5",
                    "oop" : false,
                    "plastics" : ["Electron", "Neutron"],
                    "approved" : "Feb 27, 2018"
                },
                {
                    "name" : "Stabilizer",
                    "brand" : "streamline",
                    "speed" :  3, "glide" : 3.5, "turn" : 0, "fade" : 3,
                    "x" : 15, "width" : "10",
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron", "Eclipse"],
                    "approved" : "May 7, 2019"
                },
                {
                    "name" : "Envy",
                    "brand" : "axiom",
                    "speed" :  3, "glide" : 3, "turn" : 0, "fade" : 2,
                    "x" : 24, "width" : "10",
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron", "Proton", "Plasma", "Eclipse", "Electron", "Cosmic Electron"],
                    "approved" : "Jan 12, 2014"
                },
                {
                    "name" : "Atom",
                    "brand" : "mvp",
                    "speed" :  3, "glide" : 3, "turn" : 0, "fade" : 1,
                    "x" : 47.29, "width" : "10",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton", "Electron", "Cosmic Electron"],
                    "approved" : "Dec 7, 2014"
                },
                {
                    "name" : "Proxy",
                    "brand" : "axiom",
                    "speed" :  3, "glide" : 3, "turn" : -1, "fade" : 0.5,
                    "x" : 68.22, "width" : "10",
                    "oop" : false,
                    "plastics" : ["Neutron", "Plasma", "Electron", "Cosmic Electron"],
                    "approved" : "Sept 24, 2014"
                },
                {
                    "name" : "Ion",
                    "brand" : "mvp",
                    "speed" :  2.5, "glide" : 3, "turn" : 0, "fade" : 1.5,
                    "x" : 27, "width" : "11",
                    "oop" : false,
                    "plastics" : ["Neutron", "R2", "Proton", "Plasma", "Eclipse", "Electron"],
                    "approved" : "Sept. 14, 2009"
                },
                {
                    "name" : "Anode",
                    "brand" : "mvp",
                    "speed" :  2.5, "glide" : 3, "turn" : 0, "fade" : 0.5,
                    "x" : 55.91, "width" : "11",
                    "oop" : false,
                    "plastics" : ["Neutron", "R2", "Proton", "Plasma", "Eclipse", "Electron"],
                    "approved" : "Jan. 15, 2012"
                },
                {
                    "name" : "Spin",
                    "brand" : "mvp",
                    "speed" :  2.5, "glide" : 4, "turn" : -2, "fade" : 0,
                    "x" : 88, "width" : "11",
                    "oop" : false,
                    "plastics" : ["Neutron", "R2", "Proton", "Electron"],
                    "approved" : "Jan 20, 2016"
                },
                {
                    "name" : "Tensor",
                    "brand" : "mvp",
                    "speed" :  4, "glide" : 4, "turn" : 0, "fade" : 2.5,
                    "x" : 24.43, "width" : "12",
                    "oop" : true,
                    "plastics" : ["Neutron"],
                    "approved" : "Apr 19, 2013"
                },
                {
                    "name" : "Alias",
                    "brand" : "axiom",
                    "speed" :  4, "glide" : 4, "turn" : -1, "fade" : 1,
                    "x" : 42.61, "width" : "12",
                    "oop" : true,
                    "plastics" : ["Neutron", "Proton"],
                    "approved" : "Jan 12, 2014"
                },
                {
                    "name" : "Tangent",
                    "brand" : "mvp",
                    "speed" :  4, "glide" : 4, "turn" : -0.5, "fade" : 0.5,
                    "x" : 51.70, "width" : "12",
                    "oop" : true,
                    "plastics" : ["Neutron", "Proton", "Plasma", "Electron"],
                    "approved" : "Feb 22, 2013"
                },
                {
                    "name" : "Theory",
                    "brand" : "axiom",
                    "speed" :  4, "glide" : 4, "turn" : -1.5, "fade" : 1,
                    "x" : 71.02, "width" : "12",
                    "oop" : true,
                    "plastics" : ["Neutron", "Plasma"],
                    "approved" : "Sept 24, 2014"
                },
                {
                    "name" : "Runway",
                    "brand" : "streamline",
                    "speed" :  5, "glide" : 4, "turn" : 0, "fade" : 3.5,
                    "x" : 7.00, "width" : "13",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Aug 2, 2018"
                },
                {
                    "name" : "Vector",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 4, "turn" : 0, "fade" : 2,
                    "x" : 26.70, "width" : "13",
                    "oop" : true,
                    "plastics" : ["Neutron", "Plasma", "Proton", "Eclipse"],
                    "approved" : "Dec. 18, 2010"
                },
                {
                    "name" : "Matrix",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 4, "turn" : -1, "fade" : 2,
                    "x" : 35.32, "width" : "13",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "May 10, 2016"
                },
                {
                    "name" : "Reactor",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 5, "turn" : -0.5, "fade" : 1.5,
                    "x" : 44.32, "width" : "13",
                    "oop" : false,
                    "plastics" : ["Neutron", "Eclipse 2.0"],
                    "approved" : "Mar 5, 2020"
                },
                {
                    "name" : "Hex",
                    "brand" : "axiom",
                    "speed" :  5, "glide" : 5, "turn" : -1, "fade" : 1,
                    "x" : 52.84, "width" : "13",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Feb 22, 2021"
                },
                {
                    "name" : "Axis",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 4, "turn" : -1, "fade" : 1,
                    "x" : 64.20, "width" : "13",
                    "oop" : true,
                    "plastics" : ["Neutron", "Proton", "Eclipse"],
                    "approved" : "Jul. 15, 2011"
                },
                {
                    "name" : "Vertex",
                    "brand" : "mvp",
                    "speed" :  4, "glide" : 4, "turn" : -2, "fade" : 0.5,
                    "x" : 85.80, "width" : "13",
                    "oop" : true,
                    "plastics" : ["Neutron"],
                    "approved" : "Aug 19, 2017"
                },
                {
                    "name" : "Uplink",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 5, "turn" : -3, "fade" : 0.5,
                    "x" : 82, "width" : "13",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Jul 5, 2021"
                },
                {
                    "name" : "Paradox",
                    "brand" : "axiom",
                    "speed" :  5, "glide" : 4, "turn" : -4, "fade" : 0,
                    "x" : 90, "width" : "13",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Jul 5, 2021"
                },
                {
                    "name" : "Deflector",
                    "brand" : "mvp",
                    "speed" :  5, "glide" : 3.5, "turn" : 0, "fade" : 4,
                    "x" : 0.6, "width" : "14.5",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton", "Eclipse"],
                    "approved" : "Feb 26, 2018"
                },
                {
                    "name" : "Pyro",
                    "brand" : "axiom",
                    "speed" :  5, "glide" : 4, "turn" : 0, "fade" : 2.5,
                    "x" : 14.20, "width" : "14.5",
                    "oop" : false,
                    "plastics" : ["Prism", ],
                    "approved" : "Feb 13, 2019"
                },
                {
                    "name" : "Relay",
                    "brand" : "mvp",
                    "speed" :  6, "glide" : 5, "turn" : -1, "fade" : 1,
                    "x" : 83, "width" : "16",
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron"],
                    "approved" : "May 28, 2015"
                },
                {
                    "name" : "Signal",
                    "brand" : "mvp",
                    "speed" :  6, "glide" : 5, "turn" : -3, "fade" : 1,
                    "x" : 93.5, "width" : "16",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Feb 2, 2016"
                },
                {
                    "name" : "Resistor",
                    "brand" : "mvp",
                    "speed" :  6.5, "glide" : 4, "turn" : 0, "fade" : 3.5,
                    "x" : 3.32, "width" : "16.5",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Sep 23, 2013"
                },
                {
                    "name" : "Clash",
                    "brand" : "axiom",
                    "speed" :  6.5, "glide" : 4, "turn" : -1, "fade" : 2,
                    "x" : 36.02, "width" : "16.5",
                    "oop" : true,
                    "plastics" : ["Neutron","Proton"],
                    "approved" : "Jun 10, 2014"
                },
                {
                    "name" : "Servo",
                    "brand" : "mvp",
                    "speed" :  6.5, "glide" : 5, "turn" : -1, "fade" : 2,
                    "x" : 45.50, "width" : "16.5",
                    "oop" : false,
                    "plastics" : ["Neutron","Plasma"],
                    "approved" : "Dec 1, 2013"
                },
                {
                    "name" : "Crave",
                    "brand" : "axiom",
                    "speed" :  6.5, "glide" : 4, "turn" : -1, "fade" : 2,
                    "x" : 54.98, "width" : "16.5",
                    "oop" : false,
                    "plastics" : ["Neutron","Proton","Cosmic Neutron"],
                    "approved" : "Mar 9, 2014"
                },
                {
                    "name" : "Switch",
                    "brand" : "mvp",
                    "speed" :  6.5, "glide" : 5, "turn" : -1.5, "fade" : 1,
                    "x" : 64.93, "width" : "16.5",
                    "oop" : true,
                    "plastics" : ["Neutron"],
                    "approved" : "Feb 10, 2014"
                },
                {
                    "name" : "Inspire",
                    "brand" : "axiom",
                    "speed" :  6.5, "glide" : 5, "turn" : -1.5, "fade" : 1,
                    "x" : 72.40, "width" : "16.5",
                    "oop" : true,
                    "plastics" : ["Neutron","Proton"],
                    "approved" : "Mar 22, 2014"
                },
                {
                    "name" : "Drift",
                    "brand" : "streamline",
                    "speed" :  7, "glide" : 5, "turn" : -2, "fade" : 1,
                    "x" : 73.93, "width" : "16.5",
                    "oop" : false,
                    "plastics" : ["Neutron","Cosmic Neutron", "Proton"],
                    "approved" : "May 9, 2018"
                },
                {
                    "name" : "Shock",
                    "brand" : "mvp",
                    "speed" :  8, "glide" : 5, "turn" : 0, "fade" : 2.5,
                    "x" : 17.06, "width" : "18",
                    "oop" : true,
                    "plastics" : ["Neutron"],
                    "approved" : "Jan 15, 2013"
                },
                {
                    "name" : "Volt",
                    "brand" : "mvp",
                    "speed" :  8, "glide" : 5, "turn" : -1, "fade" : 2,
                    "x" : 32.70, "width" : "18",
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron", "Proton", "Plasma", "Eclipse", "Fission", "Electron"],
                    "approved" : "Jul 2, 2012"
                },
                {
                    "name" : "Amp",
                    "brand" : "mvp",
                    "speed" :  8, "glide" : 5, "turn" : -1.5, "fade" : 1,
                    "x" : 58.77, "width" : "18",
                    "oop" : true,
                    "plastics" : ["Neutron", "Proton", "Plasma", "Eclipse"],
                    "approved" : "Nov 14, 2012"
                },
                {
                    "name" : "Motion",
                    "brand" : "mvp",
                    "speed" :  9, "glide" : 3.5, "turn" : 0, "fade" : 4,
                    "x" : 1.0, "width" : "18.5",
                    "oop" : false,
                    "plastics" : ["Neutron", "Plasma"],
                    "approved" : "Feb 22, 2014"
                },
                {
                    "name" : "Flare",
                    "brand" : "streamline",
                    "speed" :  9, "glide" : 4, "turn" : 0, "fade" : 4,
                    "x" : 6.75, "width" : "18.5",
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron"],
                    "approved" : "Feb 24, 2019"
                },
                {
                    "name" : "Fireball",
                    "brand" : "axiom",
                    "speed" :  9, "glide" : 3.5, "turn" : 0, "fade" : 3.5,
                    "x" : 12.5, "width" : "18.5",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton"],
                    "approved" : "Dec 19, 2014"
                },
                {
                    "name" : "Tesla",
                    "brand" : "mvp",
                    "speed" :  9, "glide" : 5, "turn" : -1, "fade" : 2,
                    "x" : 31.62, "width" : "18.5",
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron", "Proton", "Plasma", "Fission"],
                    "approved" : "Feb 22, 2014"
                },
                {
                    "name" : "Wrath",
                    "brand" : "axiom",
                    "speed" :  9, "glide" : 4.5, "turn" : -0, "fade" : 2,
                    "x" : 38, "width" : "18.5",
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron", "Proton", "Plasma", "Fission"],
                    "approved" : "Dec 19, 2014"
                },
                {
                    "name" : "Inertia",
                    "brand" : "mvp",
                    "speed" :  9, "glide" : 5, "turn" : -2, "fade" : 2,
                    "x" : 61.97, "width" : "18.5",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton", "Plasma", "Eclipse 2.0"],
                    "approved" : "Feb 10, 2014"
                },
                {
                    "name" : "Lift",
                    "brand" : "streamline",
                    "speed" :  9, "glide" : 5, "turn" : -2, "fade" : 2,
                    "x" : 67.09, "width" : "18.5",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton", "Plasma"],
                    "approved" : "Apr 17, 2019"
                },
                {
                    "name" : "Insanity",
                    "brand" : "axiom",
                    "speed" :  9, "glide" : 5, "turn" : -2, "fade" : 2,
                    "x" : 71.79, "width" : "18.5",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton", "Plasma", "Cosmic Neutron"],
                    "approved" : "Dec 19, 2014"
                },
                {
                    "name" : "Impulse",
                    "brand" : "mvp",
                    "speed" :  9, "glide" : 5, "turn" : -3, "fade" : 2,
                    "x" : 85, "width" : "18.5",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Feb 22, 2014"
                },
                {
                    "name" : "Virus",
                    "brand" : "axiom",
                    "speed" :  9, "glide" : 5, "turn" : -3.5, "fade" : 1,
                    "x" : 92.74, "width" : "18.5",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton"],
                    "approved" : "Dec 19, 2014"
                },
                {
                    "name" : "Phase",
                    "brand" : "mvp",
                    "speed" :  11, "glide" : 3.5, "turn" : 0, "fade" : 4,
                    "x" : 1.0, "width" : "21",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                },
                {
                    "name" : "Thrill",
                    "brand" : "axiom",
                    "speed" :  11, "glide" : 4, "turn" : 0, "fade" : 3.5,
                    "x" : 9.5, "width" : "21",
                    "oop" : true,
                    "plastics" : ["Neutron", "Proton"],
                    "approved" : "Apr 21, 2016"
                },
                {
                    "name" : "Photon",
                    "brand" : "mvp",
                    "speed" :  11, "glide" : 5, "turn" : -1, "fade" : 2.5,
                    "x" : 24.36, "width" : "21",
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron", "Proton", "Plasma", "Fission"],
                    "approved" : "Feb 6, 2015"
                },
                {
                    "name" : "Defy",
                    "brand" : "axiom",
                    "speed" :  11, "glide" : 5, "turn" : -1, "fade" : 3,
                    "x" : 30.34, "width" : "21",
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron", "Proton", "Plasma", "Fission"],
                    "approved" : "Apr 21, 2016"
                },
                {
                    "name" : "Trace",
                    "brand" : "streamline",
                    "speed" :  11, "glide" : 5, "turn" : -1, "fade" : 2,
                    "x" : 37, "width" : "21",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton", "Cosmic Neutron"],
                    "approved" : "Mar 8, 2017"
                },
                {
                    "name" : "Wave",
                    "brand" : "mvp",
                    "speed" :  11, "glide" : 5, "turn" : -2, "fade" : 2,
                    "x" : 55.56, "width" : "21",
                    "oop" : false,
                    "plastics" : ["Neutron", "Cosmic Neutron", "Proton", "Plasma", "Fission"],
                    "approved" : "Feb 6, 2015"
                },
                {
                    "name" : "Vanish",
                    "brand" : "axiom",
                    "speed" :  11, "glide" : 5, "turn" : -3, "fade" : 2,
                    "x" : 75.64, "width" : "21",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton"],
                    "approved" : "Apr 6, 2016"
                },
                {
                    "name" : "Orbital",
                    "brand" : "mvp",
                    "speed" :  11, "glide" : 5, "turn" : -4.5, "fade" : 1,
                    "x" : 94.6, "width" : "21",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Feb 6, 2015"
                },
                {
                    "name" : "Energy",
                    "brand" : "mvp",
                    "speed" :  13, "glide" : 4, "turn" : 0, "fade" : 4,
                    "x" : 1.0, "width" : "23",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Jun 6, 2016"
                },
                {
                    "name" : "Nitro",
                    "brand" : "mvp",
                    "speed" :  13, "glide" : 4, "turn" : -0.5, "fade" : 3,
                    "x" : 21.37, "width" : "23",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "May 13, 2016"
                },
                {
                    "name" : "Panic",
                    "brand" : "axiom",
                    "speed" :  13, "glide" : 4, "turn" : -0.5, "fade" : 3,
                    "x" : 27.35, "width" : "23",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Apr 3, 2017"
                },
                {
                    "name" : "Octane",
                    "brand" : "mvp",
                    "speed" :  13, "glide" : 4, "turn" : -0.5, "fade" : 3,
                    "x" : 45.30, "width" : "23",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton", "Plasma", "Eclipse"],
                    "approved" : "May 13, 2016"
                },
                {
                    "name" : "Mayhem",
                    "brand" : "axiom",
                    "speed" :  13, "glide" : 5, "turn" : -1.5, "fade" : 2,
                    "x" : 52.56, "width" : "23",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton", "Plasma"],
                    "approved" : "Apr 13, 2017"
                },
                {
                    "name" : "Catalyst",
                    "brand" : "mvp",
                    "speed" :  13, "glide" : 5.5, "turn" : -2, "fade" : 2,
                    "x" : 71.37, "width" : "23",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton", "Plasma"],
                    "approved" : "Jun 6, 2016"
                },
                {
                    "name" : "Tenacity",
                    "brand" : "axiom",
                    "speed" :  13, "glide" : 5, "turn" : -2.5, "fade" : 2,
                    "x" : 77.78, "width" : "23",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Apr 13, 2017"
                },
                {
                    "name" : "Limit",
                    "brand" : "mvp",
                    "speed" :  14.5, "glide" : 3.5, "turn" : 0, "fade" : 4,
                    "x" : 1.0, "width" : "24.5",
                    "oop" : true,
                    "plastics" : ["Neutron"],
                    "approved" : "Apr 13, 2017"
                },
                {
                    "name" : "Dimension",
                    "brand" : "mvp",
                    "speed" :  14.5, "glide" : 5, "turn" : 0, "fade" : 3,
                    "x" : 16.24, "width" : "24.5",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Apr 13, 2017"
                },
                {
                    "name" : "Delirium",
                    "brand" : "axiom",
                    "speed" :  14.5, "glide" : 5, "turn" : -0.5, "fade" : 3,
                    "x" : 22, "width" : "24.5",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "May 23, 2019"
                },
                {
                    "name" : "Tantrum",
                    "brand" : "axiom",
                    "speed" :  14.5, "glide" : 5, "turn" : -1.5, "fade" : 3,
                    "x" : 37.61, "width" : "24.5",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Mar 15, 2018"
                },
                {
                    "name" : "Teleport",
                    "brand" : "mvp",
                    "speed" :  14.5, "glide" : 5, "turn" : -1.5, "fade" : 2.5,
                    "x" : 45.73, "width" : "24.5",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Apr 13, 2017"
                },
                {
                    "name" : "Excite",
                    "brand" : "axiom",
                    "speed" :  14.5, "glide" : 5.5, "turn" : -2, "fade" : 2,
                    "x" : 53.85, "width" : "24.5",
                    "oop" : false,
                    "plastics" : ["Neutron"],
                    "approved" : "Mar 25, 2018"
                },
                {
                    "name" : "Relativity",
                    "brand" : "mvp",
                    "speed" :  14.5, "glide" : 5.5, "turn" : -3, "fade" : 1.5,
                    "x" : 82.05, "width" : "24.5",
                    "oop" : false,
                    "plastics" : ["Neutron", "Proton"],
                    "approved" : "Apr 13, 2017"
                },
            ],
        }
    },
 });
</script>
</body>
</html>
